@import "../../colors";

#intro-title-div {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

#work-image {
  height: 280px;
  width: 280px;
  border-radius: 50%;
  border: 5px solid $primary-purple;
  background-color: $primary-purple;
}

#intro-title {
  font-size: 80px;
  font-family: "Saira Extra Condensed", sans-serif;
  font-weight: 900;
  letter-spacing: 20px;
  margin: 0.3em auto;
  line-height: 100%;
  text-transform: uppercase;
}

.text-primary {
  color: $primary-purple;
}

#intro-button-group {
  display: flex;
  justify-content: flex-end;
}
