$primary-purple: #8c5bdc;
$primary-purple-m-10: #7e52c6;
$primary-purple-m-20: #7049b0;
$primary-purple-m-40: #543784;
$primary-purple-p-20: #a37ce3;

// Grayscale
$grayscale-10: #e6e6e6;
$grayscale-30: #b3b3b3;
$grayscale-50: #808080;
$grayscale-70: #4c4c4c;
$grayscale-80: #333333;
$grayscale-90: #191919;
